<IntersectionObserve Options=@Options>
    <CascadingValue Value=@this>
        <div @ref="context.Ref.Current" class="@Class" style="@Style">
            @if (context.IsIntersecting)
            {
                @ChildContent
            }
        </div>
    </CascadingValue>
</IntersectionObserve>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public IntersectionObserverOptions Options { get; set; }

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string Style { get; set; } = "";
}