<IntersectionObserve>
    <div @ref="context.Ref.Current">
        <div style="background-color:lightgray;padding:10px;margin-bottom:10px;">
            <h4>This is a virtual component</h4>
            @if (context.IsIntersecting)
            {
                @VirtualContent
            }
            else
            {
                <span>&nspb;</span>
            }
        </div>
    </div>
</IntersectionObserve>

@code {

    private string virtualContent = "";
    public string VirtualContent
    {
        get
        {
            if (virtualContent == "")
            {
                // create the initial content
                virtualContent = 
                   $"Component created at {DateTime.Now.ToLongTimeString()}";
                return virtualContent;
            }
            else
                // return a modified version of the initial content
                return $"{virtualContent} updated at "
                    + $"{DateTime.Now.ToLongTimeString()}" ;
        }
    }
}